[Unit]
Description=pongo -- CTF Session Manager Daemon
After=network.target
DefaultDependencies=yes
FailureAction=none

[Service]
User=root
WorkingDirectory=/usr/local/bin/pongo/
ExecStart=/usr/local/bin/pongo/pongo run
Restart=no

[Install]
WantedBy=multi-user.target
