{{define "footer"}}
	<footer>Developed by <a href='https://github.com/erodrigufer'>Eduardo R.</a> at <a href='https://www.ce.cit.tum.de/en/esi/home/'>Associate Professorship of Embedded Systems and Internet of Things (TUM)</a> (c) {{.CurrentYear}}</footer>
{{end}}
