{{template "base" .}}

{{define "body"}}
	<div class="flash warning">
		<p> Not enough time has passed since you last requested a session. If you want a new session, wait a couple of minutes and come back later.</p>
	</div>
{{end}}
